services:
  installer:
    build:
      context: .
      args:
        - TZ=${TZ:-UTC}
        - LANG=${LANG:-en_US.UTF-8}
    volumes:
    - "./output:/output:rw"
    - "./dependencies:/dependencies:rw"
